<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Registration Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="assets/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="assets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>CSU</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Connectez vous</p>
      <form action="{{ route('auth.register') }}" method="POST">
        <div class="input-group mb-3">
          @if (flashMessages.has('errors.username'))
          <small style="color: red;">
            {{ flashMessages.get('errors.username') }}
          </small>
        @endif
          <input type="text" class="form-control" placeholder="Nom complet" name="username" value="{{ flashMessages.get('username') ?? '' }}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          @if (flashMessages.has('errors.email'))
            <small style="color: red;">
              {{ flashMessages.get('errors.email') }}
            </small>
          @endif
          <input type="email" class="form-control" placeholder="Email" name="email" value="{{ flashMessages.get('email') ?? '' }}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          @if (flashMessages.has('errors.password'))
          <small style="color: red;">
            {{ flashMessages.get('errors.password') }}
          </small>
        @endif
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Se Rappeler de moi
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Se Connecter</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="assets/dist/js/adminlte.min.js"></script>
</body>
</html>










{{--  @layout('layout')

@section('body')

<form action="{{ route('auth.register') }}" method="POST">
  <label>
    Username
    <input type="text" name="username" value="{{ flashMessages.get('username') ?? '' }}" />
    @if (flashMessages.has('errors.username'))
      <small style="color: red;">
        {{ flashMessages.get('errors.username') }}
      </small>
    @endif
  </label>

  <label>
    Email
    <input type="email" name="email" value="{{ flashMessages.get('email') ?? '' }}" />
    @if (flashMessages.has('errors.email'))
      <small style="color: red;">
        {{ flashMessages.get('errors.email') }}
      </small>
    @endif
  </label>

  <label>
    Password
    <input type="password" name="password" />
    @if (flashMessages.has('errors.password'))
      <small style="color: red;">
        {{ flashMessages.get('errors.password') }}
      </small>
    @endif
  </label>

  <button type="submit">Register</button>
</form>

@endsection  --}}
